{% extends 'accounts/base.html'%}

{% block content %}
    <form class="container jumbotron" style="margin-top:50px;" action="{% url 'accounts:create_agent' %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token%}
        {{form.media}}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Save</button>
<!--     <h1>Registration Form</h1>
    <div class="form-group" style="margin-top:30px;">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="conpass">
      </div>
    <button type="submit" class="btn btn-primary">Register</button> -->
  </form>

{% endblock content %}

